@media (max-width: 600px) {
    .res_box {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .box {
      grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 500px) {
    .box {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 350px) {
    .box {
      grid-template-columns: 1fr;
    }
}